.cartImg {
  width: 20%;
  height: 85%;
}

.title {
  font-size: 18px;
  color: black;
}

.text {
  font-size: 18px;
  margin-right: 5px;
}

.descriptionText {
  font-size: 16px;
  margin-right: 5px;
}

.inputNumber {
  margin: 0;
  width: 45px;
  height: 12%;
  font-size: 18px;
  margin: 3px;
  /* background-color: red; */
  /* width: min-content; */
}

.product {
  padding: 8px;
  margin: 0;
}
