.container {
  /* background-color: rgb(251, 138, 138); */
  width: 62%;
  margin: auto;
  text-align: end;
  font-size: 17px;
  padding: 10px;
  margin-top: 0;
}

.titleClass {
  margin-top: 15px;
  font-size: 27px;
  text-align: end;
}
