.container {
  background-color: rgb(9, 87, 205);
}

.title {
  font-size: 65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(250, 193, 87);
  margin-left: 8px;
  text-align: start;
}
